.LoginPage {
  box-shadow: 0 0 10px var(--light-gray);
  border-radius: 20px;
  background-color: var(--elems-bgc);
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
  text-align: center;
  padding: 40px;
}

.LoginPage h1 {
  margin-bottom: 50px;
}

.LoginPage button {
  width: 100%;
  margin-bottom: 30px;
}

.LoginPage a {
  display: inline-block;
  width: 100%;
  text-align: right;
  text-decoration: none;
  color: var(--gray);
}

.LoginPage a:hover {
  text-decoration: underline;
}

@media (max-width: 530px) {
  .LoginPage {
    width: 100%;
  }
}
